<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" style="font-family: 'Nothing You Could Do', cursive;" href="#">AniYou!</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">

       <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/homepage">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Discussion<span class="sr-only">(current)</span></a>
      </li>

                          <li class="nav-item">
                            <a class="nav-link" href="/api/">Top 10</a>
                          </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>

<div class="jumbotron">
  <h1 class="text-center"
    style="font-family: 'Nothing You Could Do', cursive; background-image: https://gaijinpot.scdn3.secure.raxcdn.com/wp-content/uploads/sites/6/2016/08/Maid-cafe-Akihabara.jpg">
    AniYou!</h1>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <p class="cool-font">Name</p>
      <input class="form-control" type="text" id="author" placeholder="Enter Your Name">
      <br>

      <p class="cool-font">Thoughts?</p>
      <textarea class="form-control" rows="3" id="chirp-box"
        placeholder="Enter your thoughts on any topic here!"></textarea>
      <button id="chirp-submit" class="btn btn-lg pull-right">Submit!</button>
    
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Discussions</h2>
      <hr>
      <div id="discussion-area"></div>
    </div>
  </div>

</div>