<div class="jumbotron">
  <h1 class="display-3" style="font-family: 'Nothing You Could Do', cursive;">AniYou!</h1>
  <p class="lead">Welcome to AniYou! Where you can stay up to date on the latest Anime & Manga topics throughout the
    world.</p>
  <hr class="my-4">
  <p>Create a login below for access!</p>
  <p class="lead">

    <div class="container">
      <form action="/api/anis" method="POST">
        <label for="usrname">Username</label>
        <input type="text" id="usrname" name="usrname" required>
        <br>
        <label for="psw">Password</label>
        <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          required>

        <input type="submit" value="Submit">
      </form>
    </div>

    <div id="message">
      <p>Password must contain the following:</p>
      <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
      <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
      <p id="number" class="invalid">A <b>number</b></p>
      <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    </div>

    <a class="btn btn-primary btn-lg" href="#" role="button">Discussion</a>

  </p>
</div>