


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <a class="navbar-brand" style="font-family: 'Nothing You Could Do', cursive;" href="#">AniYou!</a>
              
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                  aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor02">
              
                  <ul class="navbar-nav mr-auto">
              
                     <li class="nav-item active">
                      <a class="nav-link" href="/logout">Logout</a>
                    </li>
              
                    <li class="nav-item active">
                      <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link" href="/api/discussion">Discussion</a>
                    </li>

                    <li class="nav-item">
                            <a class="nav-link" href="/top10/">Top 10</a>
                          </li>
              
                  </ul>
              
                  <form class="form-inline my-2 my-lg-0">
                    <input class="searchInput form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="submitBtn btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>

              <h1 class="head" style="font-family: 'Nothing You Could Do', cursive;text-align: center;">Top 10 Anime!</h1>

<div class="container">
<div id = "results">
  </div>

</div> 
